<% base_url = Rails.application.config.base_url %>

<%= tag.div id: dom_id(link) do %>
    <div class="flex items-center justify-between border border-blue-950 rounded my-5 p-3 hover:bg-gray-100 transition">
        <div class="flex flex-col items-start gap-2">
            <a href="<%= base_url + "/" + link.short_code %>" class="no-underline hover:underline transition text-blue-600 font-semibold" target="_blank">
                <%= base_url + "/" + link.short_code %>
            </a>
            <a href="<%= link.original_url %>" class="no-underline hover:underline transition" target="_blank">
                <%= link.original_url %>
            </a>
        </div>
        <div class="flex flex-col gap-2">
        <div class="bg-gray-200 text-gray-700 text-sm px-3 py-1 rounded">
            <%= link.views_count.to_s + " clicks" %>
        </div>
        <a href="<%= links_path + "/" + link.short_code %>" class="no-underline bg-gray-200 hover:bg-gray-300 text-gray-700 text-sm px-3 py-1 rounded transition">
            Details
        </a>
        </div>
    </div>
<% end %>